<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://renbit-test-task-func-app.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/d92be627-0322-48b2-98d1-7df52149c8e2/resourceGroups/renbit-test-task/providers/Microsoft.Web/sites/renbit-test-task-func-app</ResourceId>
    <UserName>$renbit-test-task-func-app</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://renbit-test-task-func-app.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>